@use '../base/variables';

.header__container {
    background-color: variables.$bg-secondary;
    position: relative;

    .header__arrow {
        width: 30px;
        height: 30px;
        align-content: center;
        justify-items: center;
        position: absolute;
        top: 12px;
        left: 16px;
        z-index: 1001;
    }

    img {
        display: inline-block;
    }
}

.header__logo {
    width: 100%;
    text-align: center;
    padding: 14px 0 8px 0;
    box-shadow: variables.$shadow-header;
    position: relative;
    z-index: 1000;
    
    .header__img {
        width: 162px;
        display: inline-block;
    }

    @media (min-width:769px) {
        box-shadow: none;
    }
}


.header__location {
    width: 100%;
    background-color: variables.$bg-location;
    padding: 1rem 0;
    text-align: center;
    box-shadow: variables.$shadow-location;

    .header__text {
        font-weight: 500;
        color: variables.$text-color-secondary;
    }

    i {
        margin-right: 10px;
    }

    @media (min-width:769px) {
        box-shadow: none;
    }
}