@use "../base/variables";

.hero {
  width: 100%;
  height: 275px;
    position: relative;

  .hero__bg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.carte {
    display: flex;
    flex-direction: column;
    background-color: variables.$bg-main;
    gap: 40px;
    margin-top: -56px;
    padding: 32px 13px 40px 13px;
    border-radius: 25px 25px 0 0;
    z-index: 2;
    position: relative;

  .carte__header {
    display: flex;
    justify-content: space-evenly;

    .carte__title {
        font-family: variables.$font-title;
        font-size: 1.75rem;
        font-weight: 400;
        color: variables.$text-color-title;
    }

    .favorite__button {
      display: none;
    }

    label {
      display: flex;
      cursor: pointer;
    }

    .carte__favorite {
      align-self: center;
      width: 32px;
      height: 32px;
      background-image: url("../../assets/logo/heart-regular-full.svg");
      transition: background-image 0.2s ease;
    }

    .favorite__button:checked + label > .carte__favorite {
      background-image: url("../../assets/logo/heart-solid-full.svg");
    }
  }

  .carte__options,
  .carte__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .carte__list {
    list-style-type: none;
  }

  .carte__subtitle {
    font-size: 1rem;
    font-weight: 300;
    color: variables.$text-color-main;

    &::after {
        content: "";
        display: block;
        width: 40px;
        height: 2px;
        background-color: variables.$hover-dishes;
        margin-top: 8px;
    }
  }
}
