@use "../base/variables";
@use "../utils/mixins";

.hero {
  width: 100%;
  height: 275px;

  .hero__bg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.carte {
  .carte__header {
    .favorite__button {
      display: none;
    }

    label {
      display: flex;
      cursor: pointer;
    }

    .carte__favorite {
      align-self: center;
      width: 32px;
      height: 32px;
      background-image: url("../../assets/logo/heart-regular-full.svg");
      transition: background-image 0.2s ease;
    }

    .favorite__button:checked + label > .carte__favorite {
      background-image: url("../../assets/logo/heart-solid-full.svg");
    }
  }
}
