@use '../base/variables';

// General

.section__title {
    font-size: 1.5rem;
    font-weight: 700;
}

// Banner

.banner {
    padding: 39px 0 57px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;

    .banner__title {
        font-size: 1.5rem;
        font-weight: 700;
        color: variables.$text-color-main;
        width: 73%;
    }

    .banner__subtitle {
        width: 84%;
        font-size: 1.125rem;
        font-weight: 300;
    }

    .banner__button {
        text-decoration: none;
        padding: 15px 20px;
        margin-top: 11px;
    }
}

// Tutorial Section

.tutorial {
    background-color: variables.$bg-secondary;
    padding: 48px 20px 48px 32px;

    .tutorial__steps {
        list-style-type: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px 24px;
        margin: 20px 0;
    }
}

// Restaurants

.restaurants {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 54px 20px;
}