@use "../base/variables";

// Loader

.loader__container {
  position: fixed;
  z-index: 1002;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: variables.$bg-main;
  -webkit-animation: fadeOut .5s ease-out 2s 1 forwards;
  animation: fadeOut .5s ease-out 2s 1 forwards;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1003;
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid variables.$bg-highlight;
  -webkit-animation: spin 2s linear 1,
  fadeOut .5s ease-out 2s 1 forwards;
  animation: spin 2s linear 1,
  fadeOut .5s ease-out 2s 1 forwards;
}

// General

.section__title {
  font-size: 1.5rem;
  font-weight: 700;
}

// Banner

.banner {
  padding: 39px 0 57px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  background-color: variables.$bg-main;

  .banner__title {
    font-size: 1.5rem;
    font-weight: 700;
    color: variables.$text-color-main;
    width: 73%;

    @media (min-width: 769px) {
      font-size: 2.5rem;
    }
  }

  .banner__subtitle {
    width: 84%;
    font-size: 1.125rem;
    font-weight: 300;
  }

  .banner__button {
    text-decoration: none;
    padding: 15px 20px;
    margin-top: 11px;
  }

  @media (min-width: 769px) {
    padding: 30px 0;
  }
}

// Tutorial Section

.tutorial {
  background-color: variables.$bg-secondary;
  padding: 48px 20px 48px 32px;

  .tutorial__steps {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px 24px;
    margin: 20px 0;

    @media (min-width: 1024px) {
      gap: 30px;
    }
  }

  @media (min-width: 389px) {
    padding: 48px 20px;
  }

  @media (min-width: 1024px) {
    padding: 50px 120px;
  }

  @media (min-width: 1440px) {
    padding: 50px 180px;
  }
  @media (min-width: 1900px) {
    padding: 50px 450px;
  }
}

// Restaurants

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 54px 20px;
  background-color: variables.$bg-main;

  .restaurants__cards {
    display: grid;
    gap: 18px;

    a {
      max-width: 100%;
      text-decoration: none;
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 50px 100px;
    }
  }

  @media (min-width: 1024px) {
    padding: 30px 120px;
  }

  @media (min-width: 1440px) {
    padding: 30px 180px;
  }
  @media (min-width: 1900px) {
    padding: 50px 450px;
  }
}
