@use '../base/variables';

.banner {
    padding: 39px 0 57px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;

    .banner__title {
        font-size: 1.5rem;
        font-weight: 700;
        color: variables.$text-color-main;
        width: 73%;
    }

    .banner__subtitle {
        width: 84%;
        font-size: 1.125rem;
        font-weight: 300;
    }

    .banner__button {
        text-decoration: none;
        padding: 15px 20px;
        margin-top: 11px;
    }
}