@use '../base/variables';

.tutorial__badge {
    display: flex;
    align-items: center;
    width: 335px;
    height: 72.38px;
    background-color: variables.$bg-main;
    box-shadow: variables.$shadow-badge;
    border-radius: 20px;
    position: relative;

    .badge__number {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: variables.$bg-highlight;
        color: variables.$text-color-button;
        font-size: 0.875rem;
        font-weight: 500;
        text-align: center;
        align-content: center;
        position: absolute;
        left: -12px;
    }

    i {
        margin: 0 24px 0 35px;
    }
}