@use "../base/variables";

.button {
    border: none;
  border-radius: 25px;
  background: variables.$bg-button;
  color: variables.$text-color-button;
  font-weight: 500;
  filter: drop-shadow(variables.$shadow-button);
  font-size: 1rem;
  transition: all .3s ease-out;

  &:hover,
  &:focus {
    filter: drop-shadow(variables.$shadow-button-hover);

  }
}
