@use "../base/variables";

.button {
  border-radius: 25px;
  background: variables.$bg-button;
  color: variables.$text-color-button;
  font-weight: 500;
  box-shadow: variables.$shadow-button;
  font-size: 1rem;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    box-shadow: variables.$shadow-button-hover;
    filter: brightness(1.05);
    transform: translateX(-1px);
  }
}
