@use "../base/variables";

.dish {
  display: flex;
  background-color: variables.$bg-secondary;
  border-radius: 15px;
  width: 100%;
  box-shadow: variables.$shadow-dish;
  overflow: hidden;

  .dish__content {
    display: flex;
    justify-content: space-between;
    padding: 13.5px 15px;
    width: 100%;
    min-width: 0;

    &:hover + .dish__confirm,
    &:focus + .dish__confirm {
      width: 59px;
    }

    .dish__text {
      overflow: hidden;
    }

    .dish__title {
      font-size: 1.125rem;
      font-weight: 500;
      margin-bottom: 5px;
    }

    .dish__sidedish {
      font-size: 15px;
      font-weight: 300;
    }

    .dish__title,
    .dish__sidedish {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .dish__info {
      display: flex;
      flex-shrink: 0;

      .dish__price {
        font-size: 15px;
        font-weight: 700;
        background-color: variables.$bg-secondary;
        align-self: flex-end;
        padding-left: 10px;
      }
    }
  }

  .dish__confirm {
    background-image: url('../assets/logo/circle-check-solid-full.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: variables.$hover-dishes;
    width: 59px;
    height: 72px;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 0;
    transition-property: width;
    transition-duration: .5s;
    transition-timing-function: ease;
  }
}
