@use '../base/variables';

.loader__container {
  position: fixed;
  z-index: 1002;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: variables.$bg-main;
  -webkit-animation: fadeOut .5s ease-out 2s 1 forwards;
  animation: fadeOut .5s ease-out 2s 1 forwards;
  
  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1003;
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid variables.$bg-highlight;
    -webkit-animation: spin 2s linear 1,
    fadeOut .5s ease-out 2s 1 forwards;
    animation: spin 2s linear 1,
    fadeOut .5s ease-out 2s 1 forwards;
  }
}