$bg-main: #F6F6F6;
$bg-secondary: #FFFFFF;
$bg-location: #EAEAEA;
$bg-highlight: #9356DC;
$bg-footer: #353535;

$new-place-title: #008766;
$hover-dishes: #99E2D0;

$bg-button: linear-gradient(#9356DC, #FF79DA);
$hover-button: lighten(linear-gradient(#9356DC, #FF79DA), 50%);
$bg-liked-button: linear-gradient(#FF79DA, #9356DC);

$font-title: 'Shrikhand', serif;
$font-text: 'Roboto', sans-serif;