$bg-main: #F6F6F6;
$bg-secondary: #FFFFFF;
$bg-location: #EAEAEA;
$bg-highlight: #9356DC;
$bg-footer: #353535;

$new-place-title: #008766;
$hover-dishes: #99E2D0;

$bg-button: linear-gradient(#9356DC, #FF79DA);
$bg-liked-button: linear-gradient(#FF79DA, #9356DC);

$text-color-main: #000000;
$text-color-secondary: #353535;

$font-title: 'Shrikhand', serif;
$font-text: 'Roboto', sans-serif;

$shadow-header: 0 2px 4px rgba(0, 0, 0, 0.25);
$shadow-location: 0 4px 4px rgba(0, 0, 0, 0.25);
$shadow-button: 0 4px 10px rgba(0, 0, 0, 0.25);
$shadow-button-hover: 0 4px 15px rgba(0, 0, 0, 0.35);