@use 'base/reset';
@use 'base/variables';

@use 'components/buttons';
@use 'components/cards';
@use 'components/dishes';

@use 'layout/footer';
@use 'layout/header';

@use 'pages/home';
@use 'pages/cartes';

@use 'utils/mixins';
@use 'utils/functions';